.outcomes {
  background-color: white;
}

.outcomes__chartContainer {
  position: relative;
  margin: auto;
  height: 90vh;
  width: 90vw;
}

.outcomes__title {
  color: $off-black;
  font-size: $l-size;
  margin: 0;
  padding: 0.1rem;
}

.outcomes__subtitle {
  color: $off-black;
  font-size: $m-size;
  font-weight: 1000;
  padding: 0.1rem;
}

.outcomes__result {
  color: $off-black;
  font-size: $m-size;
  font-weight: 500;
  padding: 0.1rem;
}


#outcomes__area {
  font-size: $m-size;
  padding: 0.1rem;
}

@media (min-width: $desktop-breakpoint) {
  .outcomes__chartContainer {
  height: 40vh;
  width: 40vw;
  }
}