// Colors
$off-black: #20222b;
$off-white: #f2f3f4;
$grey: grey;
$light-grey: #d3d3d3;

// Spacing
$s-size: 1rem;
$m-size: 1.6rem;
$l-size: 3.2rem;

// Button
$m-round: 1rem;

// Media queries
$desktop-breakpoint: 45rem;